{% extends 'layout/base.html' %}

{% block title %}FTP Index{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item active" >List Files</li>
                    <li class="list-group-item">List Folders</li>
                </ul>
            </div>

            <div class="col-sm-9">
                <div class="card">
                <div class="card-header">List Files</div>
                    <div class="card-body">
                        {% for filename in filenames %}
                            <div class="container">
                                {{ filename }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
